* {
    box-sizing: border-box;
}

body {
    background-image: url("img/table.png");
    background-size: cover;
    font-family: "Trebuchet MS";
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}
#message-el {
    font-style: italic;

}